<mat-table [dataSource]="dataSource" matSort class="w-100 overflow-auto h-100" aria-label="List of errors">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Type Column -->
    <ng-container matColumnDef="errorType">
        <mat-header-cell class="w-25" *matHeaderCellDef mat-sort-header>Type</mat-header-cell>
        <mat-cell class="w-25" *matCellDef="let element"> {{element.errorType}} </mat-cell>
    </ng-container>

    <!--Linenumber column-->
    <ng-container matColumnDef="lineNumber">
        <mat-header-cell class="w-25" *matHeaderCellDef mat-sort-header>Line</mat-header-cell>
        <mat-cell class="w-25" *matCellDef="let element"> {{element.lineNumber}} </mat-cell>
    </ng-container>

    <!--Msg column-->
    <ng-container matColumnDef="errorMsg">
        <mat-header-cell class="w-50" *matHeaderCellDef mat-sort-header>Message</mat-header-cell>
        <mat-cell class="w-50" *matCellDef="let element"> {{element.errorMsg}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" class="small-row"></mat-row>
</mat-table>