<mat-table [dataSource]="dataSource" class="w-100 overflow-auto h-100" appKeyboardTableNavigation aria-label="RAM view" aria-readonly="false">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Name Column -->
    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Address </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>

    <!-- Register content Column -->
    <ng-container matColumnDef="value">
        <mat-header-cell *matHeaderCellDef > Value </mat-header-cell>
        <mat-cell *matCellDef="let element">
            <mat-form-field class="w-100" *ngIf="!phylosModelState.phylosModel.isDebugMode && !element.isSpace">
                <input matInput [ngModel]="element.value" (ngModelChange)="updateValue(element,$event)" [attr.aria-label]="'content of RAM address '+element.name">
            </mat-form-field>
            <ng-container *ngIf="phylosModelState.phylosModel.isDebugMode && !element.isSpace">
                {{ element.value }}
            </ng-container>
            <ng-container *ngIf="element.isSpace">
                ... {{ element.value }} zeroes ...
            </ng-container>
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" class="small-row"></mat-row>
</mat-table>