<nav class="navbar navbar-expand-lg navbar-dark bg-dark toolbar">
    <ul class="navbar-nav mx-auto" *ngIf="phylosModelState.phylosModel.isDebugMode != 0">
        <li class="nav-item active">
            <button mat-button matTooltip="Resume debugging (Ctrl + Shift + F5)" (click)="resumeDebug()" *ngIf="phylosModelState.phylosModel.isDebugMode == 2">
                <mat-icon>play_arrow</mat-icon> Resume
            </button>
        </li>
        <li class="nav-item active">
            <button mat-button matTooltip="Pause debugging (Ctrl + Shift + F5)" (click)="pauseDebugging()" *ngIf="phylosModelState.phylosModel.isDebugMode == 1">
                <mat-icon>pause</mat-icon> 
            </button>
        </li>
        <li class="nav-item active">
            <button mat-button matTooltip="Stop debugging (Shift + F5)" (click)="stopDebugging()">
                <mat-icon>stop</mat-icon>
            </button>
        </li>
        
        
        <li class="nav-item">
            <button mat-button matTooltip="next Step (F10)" (click)="nextStep()" [disabled]="phylosModelState.phylosModel.isDebugMode == 1">
                <img src="/assets/step.svg" alt="next debug step">
            </button>
        </li>
        <li class="nav-item">
            <button mat-button matTooltip="run until next jump (F11)" (click)="nextJumpMark()" [disabled]="phylosModelState.phylosModel.isDebugMode == 1">
                <img src="/assets/stepstep.svg" alt="run until next jump">
            </button>
        </li>
    </ul>
    <ul class="navbar-nav mx-auto" *ngIf="phylosModelState.phylosModel.isDebugMode == 0">
        <li class="nav-item active">
            <button mat-button (click)="startDebugging()" matTooltip="Start debugging (F5)">
                <mat-icon>play_arrow</mat-icon> Start
            </button>
        </li>
    </ul>
</nav>
<ngx-monaco-editor class="w-100 h-100" [options]="editorOptions" [(ngModel)]="phylosModelState.phylosModel.code" (onInit)="editorInit($event)">
</ngx-monaco-editor>