<app-login *ngIf="!phylosState.isLoggedIn"></app-login>
<ng-container *ngIf="phylosState.isLoggedIn">
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark" role="menu">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <button mat-button [matMenuTriggerFor]="fileMenu" cdkFocusRegionStart role="menuitem">File</button>
            </li>
            <li class="nav-item">
                <button mat-button [matMenuTriggerFor]="editMenu" role="menuitem">Edit</button>
            </li>
            <li class="nav-item">
                <button mat-button [matMenuTriggerFor]="viewMenu" role="menuitem">View</button>
            </li>
            <li class="nav-item">
                <a href="/docs/" target="_blank" mat-button role="menuitem">Help</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item ml-auto">
                <button mat-button (click)="phylosState.Logout()" cdkFocusRegionEnd role="menuitem">Logout</button>
            </li>
        </ul>
    </nav>
    <mat-menu #fileMenu="matMenu" role="menu">
        <button mat-menu-item (click)="Reset()"  role="menuitem">New</button>
        <button mat-menu-item (click)="fileInputOpen.click()"  role="menuitem">Open</button>
        <button mat-menu-item (click)="fileInputRam.click()"  role="menuitem">Open predefined RAM values</button>
        <button mat-menu-item (click)="SaveAs()" role="menuitem">Save as</button>      
    </mat-menu>
    <mat-menu #editMenu="matMenu" role="menu">
        <button mat-menu-item (click)="phylosState.undoRedoRequested.next(false)" role="menuitem">Undo</button>
        <button mat-menu-item (click)="phylosState.undoRedoRequested.next(true)" role="menuitem">Redo</button>
    </mat-menu>
    <mat-menu #viewMenu="matMenu" role="menu">
        
        <button mat-menu-item>
            <mat-checkbox [ngModel]="componentStatus.EditorComponent" (ngModelChange)="changeComponentWindow('EditorComponent',$event)" role="menuitem">Editor</mat-checkbox>
        </button>
        <button mat-menu-item>
            <mat-checkbox [ngModel]="componentStatus.ErrorListComponent" (ngModelChange)="changeComponentWindow('ErrorListComponent',$event)" role="menuitem">Errors</mat-checkbox>
        </button>
        <button mat-menu-item>
            <mat-checkbox [ngModel]="componentStatus.RamComponent" (ngModelChange)="changeComponentWindow('RamComponent',$event)" role="menuitem">RAM</mat-checkbox>
        </button>
        <button mat-menu-item>
            <mat-checkbox [ngModel]="componentStatus.RegisterComponent" (ngModelChange)="changeComponentWindow('RegisterComponent',$event)" role="menuitem">Register</mat-checkbox>
        </button>
        <button mat-menu-item>
            <mat-checkbox [ngModel]="componentStatus.IoRegisterComponent" (ngModelChange)="changeComponentWindow('IoRegisterComponent',$event)" role="menuitem">I/O Register</mat-checkbox>
        </button>
        <button mat-menu-item>
            <mat-checkbox [ngModel]="componentStatus.RomComponent" (ngModelChange)="changeComponentWindow('RomComponent',$event)" role="menuitem">ROM</mat-checkbox>
        </button>
        <button mat-menu-item role="menuitem" (click)="ResetLayout()">
           Reset Layout
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item>
            <mat-radio-button value="1" [checked]="phylosState.currentTheme==1" (click)="phylosState.SetTheme(1)" name="themeSelect" aria-label="Select Theme" role="menuitem">Light Theme</mat-radio-button>
        </button>
        <button mat-menu-item>
            <mat-radio-button value="0" [checked]="phylosState.currentTheme==0" (click)="phylosState.SetTheme(0)" name="themeSelect" aria-label="Select Theme" role="menuitem">Dark Theme</mat-radio-button>
        </button>
    </mat-menu>
</ng-container>
<main class="position-absolute" style="height: calc(100% - 52px); width: calc(100% - 5px);" *ngIf="phylosState.isLoggedIn">
    <golden-layout-root [layout]="layoutConfig$" ></golden-layout-root>
</main>
<!--file input for open files-->
<input type="file" class="d-none"  accept="text/*" #fileInputOpen (change)="handleFileInput($event.target.files)" />
<input type="file" class="d-none"  accept="text/csv" #fileInputRam (change)="handleFileInputRam($event.target.files)" />