<div class="vw-100 vh-100 d-flex flex-column align-items-center">  
    <img src="/assets/logo.svg" alt="Phylos Logo" class="login-logo"/>
    <div class="d-flex flex-fill flex-grow justify-content-center align-items-center">
        <form class="d-flex flex-column justify-content-center align-items-center login-window shadow" (submit)="Login()" >
            <h1 class="mb-4">Login</h1>
            <div class="alert alert-danger" role="alert" *ngIf="errorMsg != ''">
                {{errorMsg}}
            </div>
            <mat-form-field class="w-100">
                <mat-label>Username</mat-label>
                <input matInput [(ngModel)]="username" name="username" cdkFocusRegionStart cdkFocusInitial autofocus>
            </mat-form-field>
            <mat-form-field class="w-100">
                <mat-label>Password</mat-label>
                <input matInput type="password" name="password" [(ngModel)]="password">
            </mat-form-field>
            <button type="submit" mat-raised-button color="primary" class="w-100" cdkFocusRegionEnd>Login</button>
        </form>
    </div>
</div>
