.login{
    &-window{
        max-width: 440px;
        width: 440px;
        padding: 3em;
        margin-bottom: 6em;
    }

    &-logo{
        max-width: 480px;
        width: 480px;
        margin-bottom: 3em;
        margin-top: 3em;
    }
}