<ng-container *ngIf="phylosModelState.phylosModel.isDebugMode != 0">
    <p>
        <strong>Instructioncounter: </strong>{{ (phylosModelState.phylosModel.currentDebugLine).toString(2) }}
    </p>
    <mat-table [dataSource]="dataSource" matSort class="w-100 overflow-auto " style="height: calc(100% - 40px);" appKeyboardTableNavigation
        aria-label="Instruction set view" aria-readonly="false">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <!-- Address Column -->
        <ng-container matColumnDef="address">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Address </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.address.toString(2) }} </mat-cell>
        </ng-container>

        <!-- OP Code Column -->
        <ng-container matColumnDef="opcode">
            <mat-header-cell *matHeaderCellDef mat-sort-header> OP-Code </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.opcode.toString(2)}} </mat-cell>
        </ng-container>

        <!-- command content Column -->
        <ng-container matColumnDef="command">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Command </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.command}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;" 
        class="small-row"
        [ngClass]="{'bg-dark': phylosModelState.phylosModel.currentDebugLine == row.address}"
        ></mat-row>
    </mat-table>
</ng-container>
<ng-container>
    <div class="w-100 h-100 d-flex justify-content-center align-items-center"
        aria-label="Start debugging to see the current instruction set">
        <small class="text-muted">Start debugging to see the current instruction set</small>
    </div>
</ng-container>