/* You can add global styles to this file, and also import other style files */

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

//golden layout style imports
@import "~golden-layout/src/css/goldenlayout-base.css";



//import bootstrap
@import "~bootstrap/scss/bootstrap";

//material
@import '~@angular/material/theming';
@include mat-core();

//material icons und roboto font
@import 'googlefonts';


.pyhlos-theme{
  &-dark{
    //material
    // Include the default theme styles.
    $dark-primary: mat-palette($mat-blue-grey);
    $dark-accent:  mat-palette($mat-amber, A200, A100, A400);
    $dark-warn:    mat-palette($mat-deep-orange);
    $dark-theme:   mat-dark-theme($dark-primary, $dark-accent, $dark-warn);
    @include angular-material-theme($dark-theme);

    //golden layout dark theme
    @import "goldenlayout-theme-dark.scss";
    .lm_tab.lm_active, .lm_content .navbar.bg-dark{
      background: #424242 !important;
    }

    //phylos defaults
    background-color: lighten(#343a40,5%);
    color: #fff;

    .login-window{
      background-color: #424242;
    }
  }
  &-light{
    //golden layout theme
    @import "goldenlayout-theme-light.scss";
    .lm_tab{
      background: #e1e1e1 !important;
    }
    .lm_tab.lm_active, .lm_content .navbar.bg-dark{
      background: #fafafa !important;
    }

    //material theme
    $phylos-app-primary: mat-palette($mat-indigo);
    $phylos-app-accent:  mat-palette($mat-pink, A200, A100, A400);
    $phylos-app-theme:   mat-light-theme($phylos-app-primary, $phylos-app-accent);
    @include angular-material-theme($phylos-app-theme);


    //phylos defaults
    background-color: #fdf7f7;
    color: #000;

    .login-window{
      background-color: #f3f3f4
    }

    .navbar-dark{
      background-color: #f8f9fa !important;
    }

    //row highlight for phylos rom component
    app-rom{
      mat-row{
        &.bg-dark{
          background-color: #e2e3e4 !important;
        }
      }
    }
  }
}

.lm{
  &_tab {
    height: 37px !important;
    line-height:36px;
    font-size: 14px !important;
    font-family: Roboto, "Helvetica Neue", sans-serif !important;
    box-shadow: none !important;
    &.lm_active{
      padding-bottom: 0;
    }
    padding-right: 40px;
  }
  
  &_close_tab {
    height: 31px !important;
  }
  
  &_controls {
    top: 9px;
  }

  &_goldenlayout{
    background: none !important;
  }

  &_header {
    height: 42px !important; //set header height for popup windows too

    .lm_controls > li {
      width: 25px;
      height: 25px;
      background-size: 50%;
    }

    .lm_tab .lm_close_tab{
      background-size: 40%;
      width: 25px;
    }
  }
  &_popin{
    height: 40px;
    width: 40px;
  }
}




//monaco editor css
.monaco-editor{
  //display hand cursor for indicating clickable feature
  .margin-view-overlays{
    & > *{
      cursor: pointer !important;
    }
    .line-numbers{
      cursor: pointer !important;
    }
  }

  .debug{
    $blue: #6200ff;
    &-line{
      background-color: transparentize(lighten($blue, 30%),0.5) ;
      border: 2px solid darken($blue,0%);
    }
    &-sign{
      transform: translateY(-4px);
      &::before{
        content: 'arrow_forward';
        font-size: 20px;
      }
      &.break-point{
        transform: translateY(-4px);
      }
    }
  }
  

  /**
  * Class for break points
  * styles the height for breakpoint icons
  */
  .break-point{
    transform: translateY(-4px) translateX(20px);
    &::after{
      content: 'fiber_manual_record';
      color: #ff0000;
      font-size: 20px;
    }
  }
}



//make body size 100% of screen width and height
body{
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
}