<mat-table [dataSource]="dataSource" matSort class="w-100 overflow-auto h-100" appKeyboardTableNavigation aria-label="IO Register view" aria-readonly="false">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Name Column -->
    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Name / ID </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>

    <!-- Register content Column -->
    <ng-container matColumnDef="value">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Value </mat-header-cell>
        <mat-cell *matCellDef="let element">
            <mat-form-field class="w-100" *ngIf="!phylosModelState.phylosModel.isDebugMode && element.writable">
                <input matInput [(ngModel)]="element.value" [attr.aria-label]="'content of '+element.name" >
            </mat-form-field>
            <ng-container *ngIf="phylosModelState.phylosModel.isDebugMode || !element.writable">
                {{ element.value }}
            </ng-container>
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" class="small-row"></mat-row>
</mat-table>